//
//  Beta.xcconfig
//  newproj
//
//  Created by CURRENTUSER on 28/1/19.
//  Copyright © 2019 ORGNAME. All rights reserved.
//

//Server URLS and Other Configuration Keys
bundle_id           = com.erbittuu.beta
app_name            = beta-newproj
info                = beta_build
server_url          = www.betaenv.com
timeout_interval    = 120
protocol            = https
icon_name           = AppIcon-QA
