//
//  Beta.xcconfig
//  newproj
//
//  Created by CURRENTUSER on 28/1/19.
//  Copyright © 2019 ORGNAME. All rights reserved.
//

//Server URLS and Other Configuration Keys
// App config
bundle_id           = com.erbittuu.beta
app_name            = beta-newproj
icon_name           = AppIcon-QA

// App info
info                = beta_build

// env config
server_url          = www.betaenv.com


// You can add more env config Keys here and don't forget to add same in info plist
