//
//  QA.xcconfig
//  newproj
//
//  Created by CURRENTUSER on 28/1/19.
//  Copyright © 2019 ORGNAME. All rights reserved.
//

//Server URLS and Other Configuration Keys
// App config
bundle_id           = com.erbittuu.qa
app_name            = qa-newproj
icon_name           = AppIcon-QA

// App info
info                = qa_build

// env config
server_url          = www.qaenv.com


// You can add more env config Keys here and don't forget to add same in info plist
